---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-xl font-semibold text-gray-900 tracking-tight whitespace-nowrap"
  style="font-family: 'Inter Variable', system-ui, sans-serif; letter-spacing: -0.03em;"
>
  {SITE?.name}
</span>
